<aside class = "col-md-4">
  <section = "user_info">
    <%= gravatar_for user, size: 50 %>
    <%= user.name %>
  </section>
  <div class = "menu">
    <%= form_for(question, url: { action: :create }) do |f| %>
      <%= f.label :問題 %>
      <%= f.text_area :Q, class: 'form-control', size: "30x6" %>
      <%= f.submit "Create Question", class: "btn btn-primary" %>
    <% end %>
  </div>
</aside>
