<% provide(:title, 'Take a test') %>
<div class="white_belt"><h1><%= yield(:title) %></h1></div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="quiz white_block">
      <%= form_for(@question, url: post_answerring_test_question_path(@test.id, @question.id), method: :post) do |f| %>
        <div class="radio_btn">
          <li><%= t :問題 %>（<%= @question_num %>）</li>
          <div class="quiz"><%= @question.Q %></div>
          <span class="content">
            <%= image_tag @question.picture.url if @question.picture? %>
          </span>
          <div class="quiz"><%= t :選択肢 %></div>
          <% for i in 0..@ia do %>
            <%= fields_for @answers[i] do |f_answer| %>
              <%= f_answer.hidden_field :tested_id, :value => @user.id %>
              <%= f_answer.hidden_field :select_A, :value => 1 %>
              <p><%= "(#{ i+1 })" %></p>
              <%= f_answer.radio_button :select_id, @selects[i].id %>
              <%= f_answer.label :select_id, @selects[i].content,
                  {value: @selects[i].id, style: "display: inline-block;"} %>
            <% end %>
          <% end %>
        </div>
        <%= f.submit "Next", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>