<% provide(:title, 'Create Question') %>
<h1><%= yield(:title) %></h1>
<div class="row">
  <%= render 'create_question', user: @user, test: @test, question: @question %>
  <% if @user.tests.any? %>
    <div class = "menu">
      <div class="col-md-8">
        <div align="center">
          <h3>カテゴリ：<%= @test.subject %></h3>
          <h3>タイトル：<%= @test.title %></h3>
        </div>
        <% @test.questions.each_with_index do |question, i| %>
          <div class="microposts">
            <li>問題（<%= i+1 %>）</li>
            <h4><%= question.Q %></h4>
          </div>
          <div align="right">
            <%= link_to "delete test", test_question_path(@test,question),
                method: :delete,  data: { confirm: "You sure?" } %>
          </div>
          <% question.selects.each_with_index do |select, ia| %>
            <li>選択肢（<%= ia+1%>）</li>
            <%= select.judge == 1 ? "正解：" : "不正解：" %>
            <%= select.content %>
          <% end %>
          <div align="right">
            <%= link_to "create selects", new_test_question_select_path(@test,question) %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>