<% provide(:title, 'Create Question') %>
<div class="white_belt"><h1><%= yield(:title) %></h1></div>
<div class="row">
  <%= render 'create_question', user: @user, test: @test, question: @question %>
  <% if @user.tests.any? %>
    <div class="col-md-7 white_block">
      <div align="center">
        <h4><%= t :分野 %>：<%= @test.subject %></h4>
        <h4><%= t :タイトル %>：<%= @test.title %></h4>
      </div>
      <% @test.questions.each_with_index do |question, i| %>
        <div class="microposts">
          <li><%= t :問題 %>（<%= i+1 %>）</li>
          <%= question.Q %>
        </div>
        <div align="right">
          <%= link_to "delete question", test_question_path(@test,question),
              method: :delete,  data: { confirm: "You sure?" } %>
        </div>
        <% validate_select = 0 %>
          <% question.selects.each_with_index do |select, ia| %>
            <div class="quiz">
              <%= t :選択肢 %>（<%= ia+1%>）
              <%= select.judge == 1 ? "正解：" : "不正解：" %>
              <%= select.content %>
            </div>
            <% validate_select += select.judge %>
          <% end %>
        <% if validate_select == 0 %>
          <div class="alert alert-danger">
            <%= t :正解を用意してください %>
          </div>
        <% end %>
        <div align="right">
          <%= link_to "create selects", new_test_question_select_path(@test,question) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>