<% provide(:title, 'Create Question') %>
<h1><%= yield(:title) %></h1>
<div class="row">
  <%= render 'create_question', user: @user, question: @question %>
  <div class="col-md-8">
    <% if @user.tests.any? %>
      <h3>カテゴリ：<%= @test.subject %></h3>
      <h3>タイトル：<%= @test.title %></h3>
      <% @test.questions.each_with_index do |question, i| %>
        <h3>問題（<%= i+1 %>）</h3>
        <h3><%= question.Q %></h3>
      <% end %>
    <% end %>
  </div>
</div>