<% provide(:title, "Grade") %>
<div class = "row">
  <%= render "users/side_menu", user: @user %>
  <div class="col-md-7  white_block">
    <% if @answers.any? %>
      <h4>Tests you have taken (<%= @tests.count %>)</h4>
      <ol class="microposts">
        <% @tests.each do |test| %>
          <%= link_to tested_test_answers_path(@user.id, test.id), target: :_blank do %>
            <li>
              <span class="content"><%= t :分野 %>：<%= test.subject %></span>
              <span class="content"><%= t :タイトル %>：<%= test.title %></span>
            </li>
          <% end %>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>
