<% provide(:title, "Search") %>
<div class = "row">
  <%= render "users/side_menu", user: @user %>
  <div class="col-md-7 white_block">
    <h4>Search</h4>
    <%= search_form_for @search, url:searchresult_path do |f| %>
      <div class="actions_small">
        <%= f.label :title_cont, t(:"テストのタイトルに含まれる文字列") %>
        <!--title_cont は、titleからの部分検索を可能にする-->
        <%= f.search_field :title_cont %>
        <%= f.label :subject_cont, t(:"テストの分野（カテゴリ）に含まれる文字列") %>
        <%= f.search_field :subject_cont %>
        <%= f.submit (t(:"検索する")), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
