<% provide(:title, "Top") %>
<% if logged_in? %>
  <!--redirect_to controller: 'users', action: 'show' %>-->
  <% provide(:title, @user.name) %>
  <div class = "row">
    <%= render "users/side_menu", user: @user %>
  </div>
<% else %>
  <div class="center"><h1>Welcome to MyTest!</h1></div>
  <div class="row">
    <aside class="col-md-6">
      このサイトは、チームで知識の共有ができているか互いにチェックし合うことを目的に作りました。<br>
      ユーザーは、簡単な選択式の問題を作り、仲間とテストを受験し合って知識の共有度合いを測ることができます。<br>
      <br>
      仕事の研修の定着度合いを測る、<br>
      学校の友達と簡単なテストを出し合う、<br>
      イベントで連絡事項の理解度合いを測る、<br>
      雑学のテストを友達と出し合う、<br>
      <br>
      「テスト」といっても怖がる必要はありません。<br>
      楽しんで使いましょう！<br>
    </aside>
    <div class="col-md-6">
      <%= form_for(:session, url: root_path) do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
        <%= f.label :password %>
        <%= link_to "(forgot password)", new_password_reset_path %>
        <%= f.password_field :password, class: 'form-control' %>
        <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <span>Remember me on this computer</span>
        <% end %>
        <%= f.submit "Log in", class: "btn btn-primary" %>
      <% end %>
      <p><%= link_to "New user? Sign up now!", signup_path %></p>
    </div>
  </div>
<% end %>
