<aside class = "col-md-4">
  <section = "user_info">
    <%= gravatar_for user, size: 50 %>
    <%= user.name %>
  </section>
  <div class = "menu">
    <li><%= link_to tests_path do %><%= t(:Test) %><% end %></li>
    <li>
      <%= link_to tester_path(@user.id), target: :_blank do %>
        <%= t(:CreateTest) %>
      <% end %>
    </li>
    <li><%= link_to mytests_path do %><%= t(:CreatedList) %><% end %></li>
    <li><%= t(:Search) %></li>
    <li><%= link_to tested_path(@user.id) do %><%= t(:Grade) %><% end %></li>
  </div>
</aside>
