<% provide(:title, 'Result') %>
<h1><%= yield(:title) %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="quiz">
      <h4>回答者：<%= @user.name %></h4><br>
      <h4>結果　：</h4>
      <% unless @answers == nil %>
        <% @answers.each_with_index do |answer, i| %>
          <% if answer.select_A == 1 %>
            <li>問題<%= "（#{i+1}）"%></li>
            <li><%= Question.find(answer.question_id).Q %></li>
            <li>あなたの回答：</li>
            <li><%= Select.find(answer.select_id).content %></li>
            <% if answer.select_id == @questions[0].selects.find_by(judge="1") %>
              正解
            <% else %>
              不正解<br>
              正解：<%= @questions[0].selects.find_by(judge="1").content %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>