<% provide(:title, 'Result') %>
<div class="white_belt"><h1><%= yield(:title) %></h1></div>
<div class="row white">
  <div class="col-md-7 col-md-offset-2">
    <table align="center">
      <h4><tr><th><%= t :回答者 %></th><td><%= @user.name %></td></tr></h4>
      <h4><tr><th><%= t :分野 %></th><td><%= @test.subject %></td></tr></h4>
      <h4><tr><th><%= t :テスト %></th><td><%= @test.title %></td></tr></h4>
    </table>
    <div class="microposts">
      <% unless @answers == nil %>
        <% true_count = 0 %><% false_count = 0 %>
        <% @answers.each_with_index do |answer, i| %>
          <% if answer.tested_id == @user.id%>
            <% if answer.select_A == 1 %>
              <% question_A = Question.find(answer.question_id) %>
              <li><%= t :問題 %> （<%=Question.where(test_id: question_A.test_id).index(question_A)+1%>）
              <%= question_A.Q %></li>
              <li><%= t :あなたの回答 %>：<%= Select.find(answer.select_id).content %>
              <span class="timestamp">
                <%= time_ago_in_words(answer.created_at) %> <%= t :前に回答 %>
                <% if current_user?(@user) %>
                  <%= link_to "delete", tested_test_answer_path(answer.tested_id, id: answer.id),
                                        method: :delete, data: { confirm: "You sure?" } %>
                <% end %>
              </span></li>
              <% if answer.select_id == question_A.selects.find_by(judge: 1).id %>
                <div class="true"><%= t :正解 %></div>
                <% true_count += 1%>
              <% else %>
                <div class="false"><%= t :不正解 %></div>
                <div class="tell_right"><%= t :正解はこちら %>：<%= question_A.selects.find_by(judge: 1).content %></div>
                <% false_count += 1%>
              <% end %>
            <% end %>
          <% end %>
          <div class="space"></div>
        <% end %>
        <% stats(true_count, false_count) %>
        <table align="center">
          <h4>
            <tr><th><%= t :正解数 %></th><td><%= true_count %></td></tr>
            <tr><th><%= t :回答数 %></th><td><%= @answer_count %></td></tr>
            <tr><th><%= t :正答率 %></th><td><%= @true_ratio %> %</td></tr>
          </h4>
        </table>
      <% else %>
        <%= t :申し訳ありません、回答データが登録されておりません。 %><br>
        <%= t :しばらく経ってから、再度受験してください。 %>
      <% end %>
    </div>
  </div>
</div>