<aside class = "col-md-4">
  <section = "user_info">
    <%= gravatar_for user, size: 50 %>
    <%= user.name %>
  </section>
  <div class = "menu">
    <%= form_for select, url: test_question_selects_path(test, question) do |f| %>
      <li>カテゴリ：<%= test.subject %></li>
      <li>タイトル：<%= test.title %></li>
      <h5>問題：</h5>
      <%= question.Q %>
      <%= f.text_area :content %>
        <div class= "checkbox"><%= f.check_box :judge %></div>
        <div class= "right">正解なら、チェックを入れてください</div>
      <%= f.submit "Create Select", class: "btn btn-primary" %>
    <% end %>
  </div>
</aside>