<% provide(:title, 'Create Question') %>
<div class="white_belt"><h1><%= yield(:title) %></h1></div>
<div class="row white_block">
  <%= render 'create_select', user: @user, test: @test, question: @question, select: @select %>
  <% if @user.tests.any? %>
    <div class="col-md-7">
      <div class="center"><h4><%= t :分野 %>：<%= @test.subject %></h4></div>
      <div class="center"><h4><%= t :タイトル %>：<%= @test.title %></h4></div>
      <% @test.questions.each_with_index do |question, i| %>
        <div class="microposts">
          <li><%= t :問題 %>（<%= i+1 %>）</li>
          <h4><%= question.Q %></h4>
        </div>
        <div align="right">
          <%= link_to "delete question", test_question_path(@test,question),
              method: :delete,  data: { confirm: "You sure?" } %>
        </div>
        <% question.selects.each_with_index do |select, ia| %>
          <div class="quiz">
            <%= t :選択肢 %>（<%= ia+1%>）
            <%= select.judge == 1 ? "正解：" : "不正解：" %>
            <%= select.content %>
          </div>
        <% end %>
        <div align="right">
          <%= link_to "create select", new_test_question_select_path(@test, question) %>
        </div>
      <% end %>
      <%= link_to new_test_question_path(@test) do %>
        <div class="btn btn-primary", "center">Add Question</div>
      <% end %>
    </div>
  <% end %>
</div>