<li id="micropost-<%= test.id %>">
  <span class="content"><%= test.subject %></span>
  <span class="content">
    <%= link_to mytests_path(:id), target: :_blank do %>
      <%= test.title %>
    <% end %>
    edit
    delete
  </span>
  <span class="timestamp">
    Create Test <%= time_ago_in_words(test.created_at) %> ago.
  </span>
</li>