<li id="micropost-<%= test.id %>">
  <span class="content"><%= test.subject %></span>
  <span class="content">
    <%= link_to test, target: :_blank do %>
      <%= test.title %>
    <% end %>
    <% if current_user?(test.user) %>
      <%= link_to new_test_question_path(:test_id), target: :_blank do %>
        question
      <% end %>
      edit
      <%= link_to "delete", test, method: :delete,
                                  data: { confirm: "You sure?"} %>
    <% end %>
  </span>
  <span class="timestamp">
    Create Test <%= time_ago_in_words(test.created_at) %> ago.
  </span>
</li>