<% provide(:title, "TestList") %>
<div class = "row">
  <%= render "users/side_menu", user: @user %>
  <div class="col-md-7 white_block">
    <h4>Tests (<%= @tests.count %>)</h4>
    <%= will_paginate @tests %>
    <ol class="microposts">
      <%= render @tests  %>
    </ol>
    <%= will_paginate @tests %>
  </div>
</div>