<% provide(:title, "Your Test") %>
<div class = "row">
  <%= render "users/side_menu", user: @user %>
  <div class="col-md-8 white_block">
    <% if @user.tests.any? %>
      <h3>Your Tests (<%= @user.tests.count %>)</h3>
      <%= will_paginate @mytests %>
      <ol class="microposts">
      <% @mytests.each do |mytest| %>
        <%= render 'mytest',test: mytest %>
      <% end %>
      </ol>
      <%= will_paginate @mytests %>
    <% end %>
  </div>
</div>
