<% provide(:title, 'Create Test') %>
<div class="row">
  <%= render 'create_test', user: @user, test: @test %>
  <div class="col-md-7 white_block">
    <% if @user.tests.any? %>
      <h3>Your Created Tests (<%= @user.tests.count %>)</h3>
      <%= will_paginate @mytests %>
      <ol class="microposts">
      <% @mytests.each do |mytest| %>
        <%= render 'mytest',test: mytest %>
      <% end %>
      </ol>
      <%= will_paginate @mytests %>
    <% end %>
  </div>
</div>
