<% provide(:title, 'Create Test') %>
<h1><%= yield(:title) %></h1>
<div class="row">
  <%= render 'create_test', user: @user, test: @test %>
  <div class="col-md-8">
    <% if @user.tests.any? %>
      <h3>Your Created Tests (<%= @user.tests.count %>)</h3>
      <%= will_paginate @mytests %>
      <ol class="microposts">
      <% @mytests.each do |mytest| %>
        <%= render 'mytest',test: mytest %>
      <% end %>
      </ol>
      <%= will_paginate @mytests %>
    <% end %>
  </div>
</div>
<!--以下、Answerモデルでの〇× 回答フォーム-->
<!--  = radio_button_tag(:Q, 1) %>-->
<!--  = label_tag(:Q, "1:〇") %>-->
<!--  = radio_button_tag(:Q, 2) %>-->
<!--  = label_tag(:Q, "2:×") %>-->

<!--= form_with(model: user, local: true) do |form| %>-->
<!--  = form.radio_button :gender, :male %>-->
<!--  = form.radio_button :gender, :female %>-->
<!-- end %>-->