<% provide(:title, 'Create Test') %>
<h1><%= yield(:title) %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@test, locale: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :"カテゴリ" %>
      <%= f.text_field :subject, class: 'form-control' %>
      <%= f.label :"問題のタイトル" %>
      <%= f.text_field :title, class: 'form-control' %>
        <%= f.fields_for :questions do |questions_form| %>
          <%= questions_form.label :問題 %>
          <%= questions_form.text_area :Q, class: 'form-control', size: "30x6"%>
          <%= f.fields_for :selects do |selects_form| %>
            <%= selects_form.label :選択肢 %>
            <div class="radio_btn"><%= selects_form.radio_button :judge, :'1.' %></div>
            <div class="quiz"><%= selects_form.text_area :content %></div>
          <% end %>
            <!--= f.fields_for :selects do |selects_form| %>-->
            <!--  = selects_form.radio_button :judge, :1. %>-->
            <!--  = selects_form.text_area :content, class: 'form-control' %>-->
            <!--end %>-->
        <% end %>
      <%= f.submit "Create Test", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<!--以下、Answerモデルでの〇× 回答フォーム-->
<!--  = radio_button_tag(:Q, 1) %>-->
<!--  = label_tag(:Q, "1:〇") %>-->
<!--  = radio_button_tag(:Q, 2) %>-->
<!--  = label_tag(:Q, "2:×") %>-->

<!--= form_with(model: user, local: true) do |form| %>-->
<!--  = form.radio_button :gender, :male %>-->
<!--  = form.radio_button :gender, :female %>-->
<!-- end %>-->