<% provide(:title, 'Take a test') %>
<h1><%= yield(:title) %></h1>
<div class="row white">
  <div class="col-md-6 col-md-offset-3">
    <h3><%= t :分野 %>：<%= @test.subject %></h3>
    <h3><%= t :タイトル %>：<%= @test.title %></h3>
    <% if @test.questions.any? %>
      <% validate_count = 0 %><% i_question = 0 %>
      <% validate_select = 0 %><% i_select = 0 %>
      <% validate_select_count = 0 %>
      <% @questions.each_with_index do |question, i| %>
        <% validate_count += 1 if question.selects.any? %>
        <% i_question = i+1 %>
        <% question.selects.each_with_index do |select, ia| %>
          <% validate_select += select.judge %>
          <% i_select = ia %>
        <% end %>
        <% validate_select_count += 1 unless validate_select == 0 %>
      <% end %>
      <% if validate_count == i_question %>
        <h4>問題数：<%= i_question %></h4>
        <% if validate_select_count == i_select %>
          <%= link_to answerring_test_question_path(@test, @first_question) do %>
            <div class="btn btn-primary", "center">Getting started</div>
          <% end %>
        <% else %>
          <div class="center">
            ※<%= t :問題を作成中です。%><br>
            （<%= t :正解が一つも用意されていない問題があります%>）
          </div>
        <% end %>
      <% else %>
        <div class="center">
          ※<%= t :問題を作成中です。%><br>
          （<%= t :選択肢が用意されていない問題があります%>）
        </div>
      <% end %>
    <% else %>
      <div class="center">
        ※<%= t :問題を作成中です。%><br>
        （<%= t :問題が一つも用意されていない場合%>）
      </div>
    <% end %>
  </div>
</div>
