<nav class="navbar navbar-expand-md navbar-inverse bg-light fixed-left">
  <a class="navbar-brand">
    <li><%= link_to "MyTest",    root_path %></li>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"><%= link_to "Users", users_path %></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
        <div class="dropdown-menu">
          <a class="dropdown-item"><%= link_to "Profile", current_user %></a>
          <a class="dropdown-item"><%= link_to "Settings", edit_user_path(current_user) %></a>
          <a class="dropdown-item"><%= link_to "Log out", logout_path, method: :delete %></a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link"><%= link_to "About", about_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><%= link_to "Help",    help_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><%= link_to "Privacy", privacy_path %></a>
      </li>
      <li class="nav-item"><a class="nav-link"><%= link_to "Term",    term_path %></a></li>
      <li class="nav-item"><a class="nav-link"><%= link_to "Language",language_path %></a></li>
    </ul>
  </div>
</nav>